<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
	  <add key="DebugMode" value="1"/>
	  <add key="Cardless_Tellerx_TerminalID" value="GB100001" />
	  <add key="BatchToFetchInDays" value="365" />
	  <add key="Cardless_Tellerx_BatchID" value="100" />
	  <add key="RemoteOnUs_BatchID" value="101" />
	  <add key="minuteSchedule" value="1" />
	  <add key="RawHostDuplicateDeleteInterval" value="-1" />
	  <add key="Customer_FIT_BankName" value="GBK" />
	  <add key="BatchRerunNotified_ToEmailIDs" value="ik185053@ncr.com;" />
    <!--separate by ; -->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
