<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="DebugMode" value="1"/>
		<add key="withdrawalTransactionType" value="38035"/>
		<add key="depositTransactionType" value="2"/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
		<add key="CardLessCode" value="'999999******7043','999999******0001'"/>
		<add key="CardLessCardno_Host" value="999999******7043"/>
		<add key="CardLessCardno_CivilID" value="999999******0001"/>
		<add key="TellerxCardCode" value="'999999******7044'"/>
		<add key="Cardless_Tellerx_TerminalID" value="GB100001"/>
		<add key="Cardless_Tellerx_BatchID" value="100"/>
		<add key="RemoteOnUs_BatchID" value="101"/>
		<add key="CancelScheduled" value="0"/>
		<add key="ReconciliationHostDataNewDate" value="2024/08/14"/>
		<add key="RescheduleReconciler" value="900"/>

		<!--<add key="KNET_ST_Approved_ResponseCodes" value="0,1"/>-->
		<!--<add key="CreditCardCode" value="'431211','442104','442446','460274','480182','480336','513665','516647','527262','533769','533770','533788','559582','778899','789789'"/>
    <add key="OnUsCode" value="'431211','442104','442446','460274','480182','480336','513665','516647','517419','517458','526206','527262','531329','531470','531471','531644','533769','533770','533788','536524','559475','559582','778899','789789'"/>-->

	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
			</providers>
		</roleManager>
	</system.web>
</configuration>
